h1 {
  text-align: center;
 }
 
 #game-board {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 
 .letter-box {
   border: 2px solid gray;
   border-radius: 3px;
   margin: 2px;
   font-size: 2.5rem;
   font-weight: 700;
   height: 3rem;
   width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
 }
 
 .filled-box {
   border: 2px solid black;
 }
 
 .letter-row {
   display: flex;
 }
 
 #keyboard-cont {
   margin: 1rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 #keyboard-cont div {
   display: flex;
 }
 
 .second-row {
   margin: 0.5rem 0;
 }
 
 .keyboard-button {
   font-size: 1rem;
   font-weight: 700;
   padding: 0.5rem;
   margin: 0 2px;
   cursor: pointer;
   text-transform: uppercase;
 }

 /* Menu */

 %bars {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 25px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: all .3s;
}

.navigation-menu {
  background-color: transparent;
  height: 100%;
  position: fixed;
  width: 600px;
  transform: translateX(-100%);
  transition: transform .3s .3s;
  
  &::before {
    background: #4E567E;
    content: '';
    height: 400%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(40deg);
    width: 100%;
    z-index: 0;
  }
  
  &--open {
    transform: translateX(0);
    
    & .navigation-menu__bars {
      background-color: transparent;
      
      &::before,
      &::after {
        top: 0;
      }
    
      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
    
    .menu-list__item {
      opacity: 1;
    }
    
    $menu-delay: 1s;
    @for $i from 1 through 12 {
      .menu-list__item:nth-child(#{$i}) {
        transition-delay: $menu-delay;
      }
      $menu-delay: $menu-delay + .25s;
    }
  }
  
  &__toggle {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -40px;
    top: 5px;
    width: 30px;
  }
  
  &__bars {
    @extend %bars;

    &::before,
    &::after {
      @extend %bars;
      content: '';
    }

    &::before {
      left: 0;
      top: -8px;
    }

    &::after {
      left: 0;
      top: 8px;
    }
  }
}

.menu-list {
  padding: 60px 20px;
  position: relative;
  z-index: 10;

  &__item {
    margin: 40px 0;
    opacity: 0;
    transition: opacity .5s .5s;
  }
}

@media only screen and (max-width: 700px) {
  .navigation-menu {
    min-width: 240px;
    width: 80%;
    
    &::before {
      width: 110%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .navigation-menu {
    background-color: #4E567E;
    min-width: 240px;
    width: 80%;
    
    &::before {
      transform: translate(-50%, -50%) rotate(45deg)
    }
  }
}