#checkUname{
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#checkUser{
    background-color: #22ab3b;
    color: white;
    margin: 12px 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    height:42px;
    font-size: large;
    border-radius: 12px;
}