*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.label{
  color: #333;
}
  
.box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 800px;
  border-radius: 10px;
  background-color: rgb(192, 189, 189);
  overflow: hidden;
}

.box form{
  position: absolute;
  padding: 50px 40px;
  inset: 6px;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

button:not(.cancelbtn, #checkUser) {
  background-color: #22ab3b;
  color: white;
  padding: 14px 25px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: large;

  position: relative;
  left: 23.5%;
  border-radius: 12px;
}
.cancelbtn:link, .cancelbtn:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  position: relative;
  width: 20%;
  padding: 14px 25px;
  margin: 12px 0;
}

.box::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 1000px;
  height: 800px;
  background: linear-gradient(0deg, transparent, transparent, blue, blue, blue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 10s linear infinite;
}
.box::after{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 1000px;
  height: 800px;
  background: linear-gradient(0deg, transparent, transparent, blue, blue, blue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 10s linear infinite;
  animation-delay: -5s;
}

@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

#checkUname{
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: bottom;
}
#checkUser{
  background-color: #22ab3b;
  color: white;
  margin: 12px 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  height:42px;
  font-size: large;
  border-radius: 12px;
  margin-top: 0;
}
.form-group{
  display: flex;
  align-items: flex-start;
  justify-items: start;
}


input[type=text]:not(#checkUname), input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 30px;
}