p{
    margin-top: 30px;
    text-align: center;
}
b{
    margin-bottom: 20px;
}

td{
    text-align: center;
}
  
#contacts{
    margin: auto;
    border-collapse: collapse;
    align-items: center;
}

#impressum{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}