/* Split the screen in half */
.center{
  text-align: center;
  padding-top: 10px;
}

#wordLengthChooser{
  margin-top: 100px;
}
.navbarLead{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-right: 10px;
  padding: 5px 0px;
}

.navbarLead > li:hover{
  color: red;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 200px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #2196f3;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #add1ee;
    

  }

  .left > .centered > h2{
    margin-bottom: 55px;
  }
  
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
   .wordLength{
    align-content: center;
   }
   .center{
    top: 100px;
    text-align: center;
   }

   .container {
	width: 600px;
	height: auto;
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #000000;
}
.place {
	position: relative;
	display: inline-block;
	width: 5%;
}

.name {
	position: relative;
	display: inline-block;
	width: 40%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}

.date {
	position: relative;
	display: inline-block;
	width: 25%;
}
  
/* Slider */
.slider-container{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.value-container{
  margin-bottom: 5px;
}

.output{
  color: var(--textColor);
  font-size: 25px;
}

.slider{
  width: 10%;
  height: 10px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px var(--sliderShadowColor);
  -webkit-box-shadow: 2px 8px 13px -3px var(--sliderShadowColor);
  -moz-box-shadow: 2px 8px 13px -3px var(--sliderShadowColor);
}

.slider::-webkit-slider-thumb{
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2196f3;
  border-radius: 50%;
  border: 4px solid #fff;
}

.selectLeaderboard{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-bottom: 50px;
}
.selectLeaderboard>li{
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 10px;
  padding: 5px 0px;
  transition: all .50s ease;
  
}

.selectLeaderboard > li:hover{
  color: var(--mainColor);
  border-bottom: 2px solid var(--mainColor);
  font-weight: bold;
} 