@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.login-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 600px;
  border-radius: 10px;
  background-color: rgb(192, 189, 189);
  overflow: hidden;
  z-index: 100;
}

.login-box form{
  position: absolute;
  padding: 50px 40px;
  inset: 6px;
  background-color: #F0F0F0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 100;
}


.login-box::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 420px;
  height: 600px;
  background: linear-gradient(0deg, transparent, transparent, var(--mainColor),  var(--mainColor), var(--mainColor));
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 10s linear infinite;
}
.login-box::after{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 420px;
  height: 600px;
  background: linear-gradient(0deg, transparent, transparent,  var(--mainColor),  var(--mainColor), var(--mainColor));
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 10s linear infinite;
  animation-delay: -5s;
}

@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.login {
  background-color: #22ab3b;
  color: white;
  padding: 14px 25px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  font-size: large;
  position: relative;
  left: 10%;
  border-radius: 12px;
}

button:hover {
    background-color: #0a9824;
}


.cancelbtn, .signup {
    color: white;
    padding: 14px 25px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

.cancelbtn{
  background-color: #f44336;
}
  
.cancelbtn:hover{
    background-color: red;
}

.signup{
    background-color: var(--mainColor);
}
.signup:hover{
    background-color: #2652d6;
    color: white;
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .signup {
    width: 100%;
    padding: 16px;
  }
  .cancelbtn {
     width: 100%;
  }
  button{
    width: 100%;
    border-radius: 12px;
  }
}