
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #22ab3b;
  color: white;
  padding: 14px 25px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: large;

  position: relative;
  left: 25%;
  top: 0%;
}

button:hover {
    background-color: #0a9824;
}


.cancelbtn:link, .cancelbtn:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.cancelbtn:hover, .cancelbtn:active {
    background-color: red;
}

.signup:link, .signup:visited{
    background-color: #4570f1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.signup:hover, .signup:active {
    background-color: #2652d6;
    color: white;
}


img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  margin: 100;
  padding: 16px;
}
.signupContainer{
    position: relative;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .signup {
    width: 100%;
    padding: 16px;
  }
  .cancelbtn {
     width: 100%;
  }
  button{
    width: 100%
  }
}