.popUp{
    width: 500px;
    height: 600px;
    background: white;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    visibility: hidden;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.popUp p,h1{
    color: grey;
    padding: 10px;
}

.popUp p:last-of-type{
    color: #2196f3;;
    font-weight: bold;

}

.open-popUp{
    visibility: visible;
}

#closePopUpButton{
    
  background-color: #22ab3b;
  color: white;
  padding: 14px 25px;
  margin: 12px 0;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: large;
  position: relative;
  border-radius: 12px;
}