body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type=text]:not(.exposed-style, #checkUname), input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 30px;
}


.exposed-style{
  padding: 11px 10px;
  height: 15px;
  width: 100%;
}

.box{
  position: relative;
  width: 700px;
  height: 650px;
  border-radius: 10px;
  background-color: grey;
  overflow: hidden;
}

.box form{
  position: absolute;
  padding: 50px 40px;
  inset: 6px;
  background-color: rgb(196, 193, 193);
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.box::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 700px;
  height: 650px;
  background: linear-gradient(0deg, transparent, transparent, blue, blue, blue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 900px;
  height: 800px;
  background: linear-gradient(0deg, transparent, transparent, blue, blue, blue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

button:not(.cancelbtn) {
  background-color: #22ab3b;
  color: white;
  padding: 14px 25px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: large;

  position: relative;
  left: 23.5%;
  border-radius: 12px;
}
button[id=checkUser]{
  background-color: #22ab3b;
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
  position: static;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: large;
  border-radius: 12px;
  height: 40px;
}

button:hover {
    background-color: #0a9824;
}


.cancelbtn:link, .cancelbtn:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    position: relative;
    width: 20%;
}
  
.cancelbtn:hover{
    background-color: red;
}

.container {
  padding: 10px;
  z-index: 2;
}

.form-group{
  padding: 10px 0px;
  display: flex;
  align-items: center;

}

.select{
  height: 40px;
  width: 50%;
  margin-right: 15px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  .box{
    box-sizing: border-box;
  }
  span.psw {
     display: block;
     float: none;
  }
  .signup {
    width: 100%;
    padding: 16px;
  }
  .cancelbtn {
     width: 100%;
  }
  button{
    width: 100%;
    border-radius: 12px;
  }
}